################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ETN_CPU_GPU_MINER/.vs/ETN_CPU_GPU_MINER/v15
/ETN_CPU_GPU_MINER/ETN_CPU_GPU_MINER/bin/Debug/logs
/ETN_CPU_GPU_MINER/ETN_CPU_GPU_MINER
